/* UNIVERSAL */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Oswald:wght@500;600;700&display=swap');
/* 
font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; 
*/

* {
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-family: 'Oswald', sans-serif; 
}

h3, p {
    font-family: 'Open Sans', sans-serif;
}

.component {
    padding:
}

/* HEADER */

.header {
    background-color: #000;
    opacity: 0.8;
    color: white;
    margin-top: 0;
    padding: 1em 0 1em 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin-bottom: 0;
    font-size: 1.1em;
}

.tagline {
    margin: 0;
    padding: 0;
    font-style: italic;
    top: 70%;
    font-size: 0.8em;
}

.menu-btn {
    transition: all .5s ease-in-out;
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-btn__burger {
    width: 50px;
    height: 6px;
    background-color: white;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: white;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-16px);
}

.menu-btn__burger::after {
    transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.full-menu {
    display: none;
}

/* RESPONSIVE */

@media screen and (min-width: 744px) {
    /* HEADER */

    

    .full-menu {
        display: flex;
        list-style: none;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        margin: 0;
    }

    .full-menu li {
        display: inline;
        margin-right: 1.2em;
    }
}


