/* UNIVERSAL */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Oswald:wght@500;600;700&display=swap');
/* 
font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; 
*/

* {
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-family: 'Oswald', sans-serif; 
}

h3, p {
    font-family: 'Open Sans', sans-serif;
}

.component {
    padding:
}

/* HEADER */

.header {
    background-color: #000;
    opacity: 0.8;
    color: white;
    margin-top: 0;
}

.logo {
    padding: 5% 0 5% 0;
}

.logo h1 {
    margin-bottom: 0;
    font-size: 1.1em;
}

.tagline {
    margin: 0;
    padding: 0;
    font-style: italic;
    top: 70%;
    font-size: 0.8em;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


